<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/canciones.css">
    <link rel="stylesheet" href="{{url_for ('static', filename='../static/canciones.css')}}">
</head>
<body>
    <div class="titulo_can">
        <h1>Actualizar Canción</h1>
    </div>
    <form action="" method="post" class="form_registro" enctype="multipart/form-data">
        <div class="container_form">
            <div class="form">
                <label for="codigo">Codigo:</label>
                <input type="number" id="codigo" name="codigo" value="{{canciones[0]}}"/>
            </div>
            <div class="form">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="tituloCan" value="{{canciones[1]}}"/>
            </div>
            <div class="form">
                <label for="artista">Artista:</label>
                <input type="text" id="artista" name="artistaCan" value="{{canciones[2]}}">
            </div>
            <div class="form">
                <label for="genero">Genero:</label>
                <input type="text" id="genero" name="generoCan" value="{{canciones[3]}}">
            </div>
            <div class="form">
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precioCan" value="{{canciones[4]}}">
            </div>
            <div class="form">
                <label for="duracion">Duración:</label>
                <input type="text" id="duracion" name="duracionCan" value="{{canciones[5]}}">
            </div>
            <div class="form">
                <label for="lanzamiento">Lanzamiento:</label>
                <input type="date" id="lanzamiento" name="lanzamientoCan" value="{{canciones[6]}}">
            </div>
            <div class="form">
                <label for="img">Imágen:</label>
                <input type="file" id="img" name="imgCan" value="{{canciones[7]}}" alt="Imagen de cancion">
            </div>
            <div class="form">
                <input type="submit" class="button">
            </div>
        </div>
    </form>
</body>
</html>