<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='../static/styles.css')}}">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body id="registro">
    <main class="registro">
        <div class="titulo">
            <h1>Registrar Datos</h1>
        </div>
        <form method="post" action="/registrar">
            <div class="form">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" />
            </div>
            <div class="form">
                <label for="apellido">Apellido:</label>
                <input type="apellido" id="apellido" name="apellido" />
            </div>
            <div class="form">
                <label for="email">Correo:</label>
                <input type="email" id="email" name="email" />
            </div>
            <div class="form">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" />
            </div>
            <div class="form">
                <label for="telefono">Celular:</label>
                <input type="tel" id="telefono" name="telefono" />
            </div>
            <div class="form">
                <label for="usuario" name="usuario">Usuario: </label>
                <input type="text" id="usuario" name="usuario">
            </div>
            <div class="form">
                <label for="contrasena">Contraseña: </label>
                <input type="password" id="contrasena" name="contrasena">
            </div>
            <div class="form">
                <label for="rol">Asignacion de roles</label>
                <select name="txtrol" id="rol" type="text">
                    <option value="">Seleccionar</option>
                    <option value="Administrador">Administrador</option>
                    <option value="comprador">Comprador</option>
                </select>
            </div>
            <div class="content_button">
                <input type="submit" class="button">
            </div>
        </form>
    </main>

</body>

</html>